	.box {
		background-color: #F1F1F1;
		border:0;
		width:340px;
		webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
		text-align:center;padding:10px 0px;
	}
	.box img{padding: 10px 0px;}
	.box a{color: #427fed;cursor: pointer;text-decoration: none;}

	.userBox
	{
		position: absolute;
		top: 15px;
		right: 15px;
		height: 200px;
	}
	.heading {text-align:center;padding:10px;font-family: 'Open Sans', arial;color: #555;font-size: 18px;font-weight: 400;}
	.circle-image{width:100px;height:100px;-webkit-border-radius: 50%;border-radius: 50%;}
	.smallUserIcon{width:45px;height:45px;-webkit-border-radius: 50%;border-radius: 50%;}
	.welcome{font-size: 16px;font-weight: bold;text-align: center;margin: 10px 0 0;min-height: 1em;}
	.oauthemail{font-size: 14px;}
	.logout{font-size: 13px;text-align: right;padding: 5px;margin: 20px 5px 0px 5px;border-top: #CCCCCC 1px solid;}
	.logout a{color:#8E009C;}

	body
	{
		font-family: Arial, sans-serif;
	}

	.schemaBox
	{
		margin: 0 auto 0;
		max-width:800px;
		min-width:800px;
		text-align:center;
	}

	.schemaBox table
	{
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
	}

	.schemaBox form
	{
		display: inline;
	}

	.schemaUserTD
	{
		text-align:center;
	}

	.uploadBox
	{
		position: absolute;
		width: 470px;
		height: 200px;
		left: 15px;
		top: 15px;	
	}
	
	.logo
	{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
