	a {
		text-decoration: none;
		color: inherit;
	}

	#drawer
	{
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	}

	.box {
		background-color: #F1F1F1;
		border:0;
		width:340px;
		webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
		text-align:center;padding:10px 0px;
	}
	.box img{padding: 10px 0px;}
	.box a{color: #427fed;cursor: pointer;text-decoration: none;}

	.userBox
	{
		text-align: center;
		height: 200px;
		order: 1;
	}
	
	.userBox form
	{
		display: inline;
	}

	.userBoxBottom
	{
		display: inline-flex;
		width:85%;
		justify-content: space-between;
		font-size: 13px;
		padding: 5px;
		margin-top: auto;
		border-top: #CCCCCC 1px solid;
	}

	.userBoxBottom
	{
		padding: 0;
	}

	.logout
	{
		margin: auto 0 auto;
	}

	.userBoxBottom a{color:#8E009C;}
	.heading {text-align:center;padding:10px;font-family: 'Open Sans', arial;color: #555;font-size: 18px;font-weight: 400;}
	.circle-image{width:100px;height:100px;-webkit-border-radius: 50%;border-radius: 50%;}
	.smallUserIcon{width:45px;height:45px;-webkit-border-radius: 50%;border-radius: 50%;}
	.welcome{font-size: 16px;font-weight: bold;text-align: center;margin: 10px 0 15px;min-height: 1em;}
	.oauthemail{font-size: 14px;}

	body
	{
		font-family: 'Roboto', 'Noto', sans-serif;
	}

	.schemaBox
	{
		margin: 0 auto 0;
		max-width:800px;
		min-width:800px;
		text-align:center;
	}

	.schemaBox table
	{
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
	}

	.schemaBox form
	{
		display: inline;
	}

	.schemaBox a
	{
		text-decoration: none;
		font-weight: bold;
		color: rgb(45, 67, 255);
	}

	.schemaUserTD
	{
		text-align:center;
	}

	.uploadBox
	{
		width: auto;
		text-align: center;
		min-height:200px;
		order: -1;
	}
	
	.logo
	{
		text-align: center;
		order: 0;
	}

	.schemaTable
	{
		width: 800px;
		border-collapse: collapse;
	}

	.marginTop
	{
		margin-top: 8px;
	}

	.thumbUp1
	{
		color: rgb(33,66,255);
	}

	.thumbDown-1
	{
		color: red;
	}

	#toast-container
	{
		overflow: hidden;
	}

	md-content
	{
		overflow: scroll;
	}

	.albumCont
	{
		overflow-x: auto;
	}

	.albumCont img
	{
		max-height:140px;
		margin: 2px;
	}

	.userblob
	{
		text-align: center;
	}
